<!DOCTYPE html>
<!--=== Coding by CodingLab | www.codinglabweb.com === -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/3405f03f1d.js" ></script>

    <!----======== CSS ======== -->
    <link rel="stylesheet" href="/css/styleMed.css">
     
    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <title>Médecin Tableau de bord</title> </head>
<body>
    <nav>
        <div  class="logo-name" > 
            <!--<div class="logo-image">
                  <img src="images/logo.png" alt="">
              </div>-->  
              <a href="http://localhost:3000/rendoc/index" class="logo">
                <img src="/images/logo.png" alt="">
              </a>
          </div>

        <div class="menu-items">
            <ul class="nav-links">
                <li><a href="http://localhost:3000/rendoc/med">
                    <i class="uil uil-estate"></i>
                    <span class="link-name">Tableau de bord</span>
                </a></li>
                <li><a href="http://localhost:3000/rendoc/medStat">
                    <i class="fa-solid fa-chart-column"></i>     
                     <span class="link-name">Statistique Rendez-vous</span>
                </a></li>
            
                <li><a href="http://localhost:3000/rendoc/medListRDV">
                    <i class="fa-solid fa-calendar-check"></i>
                    <span class="link-name">Gérer les rendez-vous</span>
                </a></li>
                <li><a href="http://localhost:3000/rendoc/medListPat">
                    <i class="fa-solid fa-hospital-user"></i>
                    <span class="link-name">Listes des patients</span>
                </a></li>
                <li><a href="http://localhost:3000/rendoc/medpub">
                    <i class="fa-solid fa-lightbulb"></i>
                    <span class="link-name">Avis Médiceaux</span>
                </a></li>
                
                
            </ul>
            
            <ul class="logout-mode">
                <li><a href="http://localhost:3000/rendoc/medProfil">
                    <i class="fa-solid fa-user"></i>
                    <span class="link-name">Profile</span>
                </a></li>
                <li><a href="http://localhost:3000/rendoc/Authentification">
                    <i class="uil uil-signout"></i>
                    <span class="link-name">Déconnecter</span>
                </a></li>
           
               <!--     <li class="mode">
                    <a href="#">
                        <i class="uil uil-moon"></i>
                    <span class="link-name">Mode Nuit</span>
                </a>-->

                <div class="mode-toggle">
                  <span class="switch"></span>
                </div>
            </li>
            </ul>
        </div>
    </nav>

    <section class="dashboard">
        <div class="top">
            <i class="uil uil-bars sidebar-toggle"></i>

            <div class="search-box">
                <form action="rechercheDate3" method="post">
                    <button class="btRech" type="submit"><i class="uil uil-search" ></i></button>
                    <input type="text"  name="idpatient" placeholder="ID du patient" >
                </form>
            </div>
            <span class="rr">Dr.  <%= nomMed  %> <%= prenomMed %></span>
          
        </div>

        <div class="dash-content">
            <div class="overview">
               
       
            <div class="activity">
                <div class="title">
                    <i class="fa-solid fa-hospital-user"></i>
                    <span class="text">Liste des patients</span>
                </div>
                <div class="table_section">
                    <table>
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>nom</th>
                                <th>prenom</th>
                                <th>téléphone</th>
                                <th>Email</th>
                           
                              
                            </tr>
                        </thead>
                        <tbody>
                            <% for(var i=0 ; i < tu.length ; i++) { %>
                            <tr>
                                <th><%= tu [i].id %></th>
                                <td><%= tu [i].nom %></td>
                                <td><%= tu [i].prenom %></td>
                                <td><%= tu [i].Tel %></td>
                                <td><%= tu [i].email %></td>
                             
                               
                            </tr>
                            <% } %>
                        
                            
                        </tbody>
                    </table>
                </div>
               
            </div>
        </div>
    </section>

    <script src="/js/Med/script.js"></script>
</body>
</html>